footer.Footer {
    background-color: #2B2C32;
    color: white;
}
.containerFooter {
    display: flex;
    justify-content: space-between;
    padding:85px 0;
    max-width: 1025px;
    margin: auto;
}
.footerRight strong, h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
.containerFooter p {
    font-size: 14px;
    font-family: 'Jost' sans-serif;
    margin-bottom: 10px;
}
.footerRight {
    display: flex;
}
.footerRight01 {
    margin-right: 180px;
}
.footerRightTop {
    margin-bottom: 40px;
}
.iconsFooter {
    width: 22px;
    height: 22px;
    margin-right: 40px;
    filter: opacity(80%);
}